/* fonts

@font-face {
    font-family: cuprum;
    src: url(fonts/cuprum/Cuprum-Regular.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: cuprum;
    src: url(fonts/cuprum/Cuprum-Bold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: bebas-neue;
    src: url(fonts/bebas-neue/BebasNeueBook.otf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: bebas-neue;
    src: url(fonts/bebas-neue/BebasNeueLight.otf);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: bebas-neue;
    src: url(fonts/bebas-neue/BebasNeueThin.otf);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: bebas-neue;
    src: url(fonts/bebas-neue/BebasNeueRegular.otf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: bebas-neue;
    src: url(fonts/bebas-neue/BebasNeueBold.otf);
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: bitter;
    src: url(fonts/bitter/Bitter-Bold.otf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: bitter;
    src: url(fonts/bitter/Bitter-Regular.otf);
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: droid-serif;
    src: url(fonts/droid-serif/DroidSerif-Regular.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: droid-serif;
    src: url(fonts/droid-serif/DroidSerif-Bold.ttf);
    font-weight: 600;
    font-style: normal;
}



@font-face {
    font-family: oswald;
    src: url(fonts/oswald/Oswald-Regular.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: oswald;
    src: url(fonts/oswald/Oswald-Light.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: oswald;
    src: url(fonts/oswald/Oswald-DemiBold.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: oswald;
    src: url(fonts/oswald/Oswald-Bold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: oswald;
    src: url(fonts/oswald/Oswald-Heavy.ttf);
    font-weight: 800;
    font-style: normal;
}



@font-face {
    font-family: rubik;
    src: url(fonts/rubik/Rubik-Regular.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: rubik;
    src: url(fonts/rubik/Rubik-Medium.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: rubik;
    src: url(fonts/rubik/Rubik-Bold.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: rubik;
    src: url(fonts/rubik/Rubik-Light.ttf);
    font-weight: 200;
    font-style: normal;
}

 */


/* Global Styles START */

.clear {
    clear: both;
}

@media (min-width: 600px) {
    .visible-2xs {
        display: none;
    }
}

@media (max-width: 600px) {
    .hidden-2xs {
        display: none;
    }
    .col-2xs-12 {
        width: 100%;
    }
}

@media (min-width: 500px) {
    .visible-3xs {
        display: none;
    }
}

@media (max-width: 500px) {
    .hidden-3xs {
        display: none;
    }
}

.g-padding-5 {
    padding: 5px;
}

.g-padding-10 {
    padding: 10px;
}

.g-padding-15 {
    padding: 15px;
}

.g-padding-20 {
    padding: 20px;
}

.g-padding-25 {
    padding: 25px;
}

.g-padding-30 {
    padding: 30px;
}

.g-padding-35 {
    padding: 35px;
}

.g-padding-40 {
    padding: 40px;
}

.g-padding-45 {
    padding: 45px;
}

.g-padding-50 {
    padding: 50px;
}

.g-pt-10 {
    padding-top: 10px;
}

.g-pt-20 {
    padding-top: 20px;
}

.g-pt-30 {
    padding-top: 30px;
}

.g-pt-40 {
    padding-top: 40px;
}

.g-pt-50 {
    padding-top: 50px;
}

.g-pt-60 {
    padding-top: 60px;
}

.g-pt-70 {
    padding-top: 70px;
}

.g-pt-80 {
    padding-top: 80px;
}

.g-pt-85 {
    padding-top: 80px;
}

.g-pt-90 {
    padding-top: 90px;
}

.g-pt-100 {
    padding-top: 100px;
}

.g-pt-110 {
    padding-top: 110px;
}

.g-pt-120 {
    padding-top: 120px;
}

.g-pt-130 {
    padding-top: 130px;
}

.g-pt-140 {
    padding-top: 140px;
}

.g-pt-150 {
    padding-top: 150px;
}

.g-pt-160 {
    padding-top: 160px;
}

.g-pt-170 {
    padding-top: 170px;
}

.g-pb-10 {
    padding-bottom: 10px;
}

.g-pb-20 {
    padding-bottom: 20px;
}

.g-pb-30 {
    padding-bottom: 30px;
}

.g-pb-40 {
    padding-bottom: 40px;
}

.g-pb-50 {
    padding-bottom: 50px;
}

.g-pb-60 {
    padding-bottom: 60px;
}

.g-pb-70 {
    padding-bottom: 70px;
}

.g-pb-75 {
    padding-bottom: 75px;
}

.g-pb-80 {
    padding-bottom: 80px;
}

.g-pb-90 {
    padding-bottom: 90px;
}

.g-pb-100 {
    padding-bottom: 100px;
}

.g-pl-10 {
    padding-left: 10px;
}

.g-pl-20 {
    padding-left: 20px;
}

.g-pl-30 {
    padding-left: 30px;
}

.g-pl-40 {
    padding-left: 40px;
}

.g-pl-50 {
    padding-left: 50px;
}

.g-pl-60 {
    padding-left: 60px;
}

.g-pl-70 {
    padding-left: 70px;
}

.g-pl-80 {
    padding-left: 80px;
}

.g-pl-90 {
    padding-left: 90px;
}

.g-pl-100 {
    padding-left: 100px;
}

.g-pr-10 {
    padding-right: 10px;
}

.g-pr-20 {
    padding-right: 20px;
}

.g-pr-30 {
    padding-right: 30px;
}

.g-pr-40 {
    padding-right: 40px;
}

.g-pr-50 {
    padding-right: 50px;
}

.g-pr-60 {
    padding-right: 60px;
}

.g-pr-70 {
    padding-right: 70px;
}

.g-pr-80 {
    padding-right: 80px;
}

.g-pr-90 {
    padding-right: 90px;
}

.g-pr-100 {
    padding-right: 100px;
}

.g-mt-0 {
    margin-top: 0;
}

.g-mt-10 {
    margin-top: 10px;
}

.g-mt-20 {
    margin-top: 20px;
}

.g-mt-30 {
    margin-top: 30px;
}

.g-mt-40 {
    margin-top: 40px;
}

.g-mt-50 {
    margin-top: 50px;
}

.g-mt-60 {
    margin-top: 60px;
}

.g-mt-70 {
    margin-top: 70px;
}

.g-mt-80 {
    margin-top: 80px;
}

.g-mt-90 {
    margin-top: 90px;
}

.g-mt-100 {
    margin-top: 100px;
}

.g-mb-10 {
    margin-bottom: 10px !important;
}

.g-mb-15 {
    margin-bottom: 15px !important;
}

.g-mb-20 {
    margin-bottom: 20px !important;
}

.g-mb-25 {
    margin-bottom: 25px !important;
}

.g-mb-30 {
    margin-bottom: 30px !important;
}

.g-mb-35 {
    margin-bottom: 35px !important;
}

.g-mb-40 {
    margin-bottom: 40px !important;
}

.g-mb-45 {
    margin-bottom: 45px !important;
}

.g-mb-50 {
    margin-bottom: 50px !important;
}

.g-mb-55 {
    margin-bottom: 55px !important;
}

.g-mb-60 {
    margin-bottom: 60px !important;
}

.g-mb-65 {
    margin-bottom: 65px !important;
}

.g-mb-70 {
    margin-bottom: 70px !important;
}

.g-mb-75 {
    margin-bottom: 75px !important;
}

.g-mb-80 {
    margin-bottom: 80px !important;
}

.g-mb-85 {
    margin-bottom: 85px !important;
}

.g-mb-90 {
    margin-bottom: 90px !important;
}

.g-mb-95 {
    margin-bottom: 95px !important;
}

.g-mb-100 {
    margin-bottom: 100px !important;
}

.g-ml-10 {
    margin-left: 10px;
}

.g-ml-20 {
    margin-left: 20px;
}

.g-ml-30 {
    margin-left: 30px;
}

.g-ml-40 {
    margin-left: 40px;
}

.g-ml-50 {
    margin-left: 50px;
}

.g-ml-60 {
    margin-left: 60px;
}

.g-ml-70 {
    margin-left: 70px;
}

.g-ml-80 {
    margin-left: 80px;
}

.g-ml-90 {
    margin-left: 90px;
}

.g-ml-100 {
    margin-left: 100px;
}

.g-mr-10 {
    margin-right: 10px;
}

.g-mr-20 {
    margin-right: 20px;
}

.g-mr-30 {
    margin-right: 30px;
}

.g-mr-40 {
    margin-right: 40px;
}

.g-mr-50 {
    margin-right: 50px;
}

.g-mr-60 {
    margin-right: 60px;
}

.g-mr-70 {
    margin-right: 70px;
}

.g-mr-80 {
    margin-right: 80px;
}

.g-mr-90 {
    margin-right: 90px;
}

.g-mr-100 {
    margin-right: 100px;
}

.margin-top-minus-225 {
    margin-top: -225px;
}

@media(max-width: 992px) {
    .g-mb-30--sm {
        margin-bottom: 30px;
    }
}

.GMap-stand-alone {
    height: 500px;
}

.g-section-bg-gray {
    background: #f8f8f8;
}

.g-social-icons-v2 {
    margin: 0;
    padding: 0;
}

.g-social-icons-v2 li {
    list-style: none;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.g-social-icons-v2 a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: block;
    background: #fff;
    color: #e74c3c;
    transition: all 0.3s ease-in-out;
}

.g-social-icons-v2 a:hover {
    background: #383339;
    color: #fff;
}

.g-social-icons-v2 a i {
    color: #e74c3c;
}

.g-social-icons-v2 a:hover i {
    color: #fff;
}

.g-display-inline-block {
    display: inline-block;
}

.g-display-table {
    display: table;
}

.g-display-td {
    display: table-cell;
}

.g-text-top {
    vertical-align: top;
}

.g-text-middle {
    vertical-align: middle;
}

.g-text-bottom {
    vertical-align: bottom;
}

.btn-u-upper {
    text-transform: uppercase;
}

.btn-u-lg.btn-u-upper,
a.btn-u-lg.btn-u-upper {
    font-size: 12px;
    font-weight: bold;
}

i.icon-2lg {
    width: 100px;
    height: 100px;
    line-height: 95px;
    font-size: 35px;
}

i.icon-3lg {
    width: 130px;
    height: 130px;
    line-height: 115px;
    font-size: 40px;
}

i.icon-color-u {
    border: 1px solid #e74c3c;
    color: #e74c3c;
}

i.icon-border-v2 {
    border: 4px solid #504a51;
}

i.icon-border-v3 {
    border: 10px solid #f8f8f8;
}

i.icon-v4 {
    width: 40px;
    height: 40px;
    line-height: 1;
    font-size: 40px;
    color: #FFE100;
    display: inline-block;
}

i.num-icon-v2 {
    border: 4px solid #504a51;
    color: #FFE100;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    width: 40px;
    height: 40px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
}

.g-icon-hover-1 {
    position: relative;
    transition: border-color .3s ease-in-out;
    transition: box-shadow .4s ease-in-out;
    transition: background .5s ease-in-out;
}

i.icon-border-v3.g-icon-hover-1:hover {
    border-color: transparent;
    color: #fff;
}

.g-icon-hover-1 span {
    display: block;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(0);
    transition: all .2s ease-in-out;
}

.g-icon-hover-1:hover span {
    transform: scale(1);
}

i.icon-3lg.g-icon-hover-1 span {
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}

i.icon-border-v3.g-icon-hover-1 span {
    background: #e74c3c;
}

.g-heading-v7 h2,
.g-heading-v7 .h2 {
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 600;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 40px;
    color: #191919;
    font-family: 'futura-pt';
}

.g-heading-v7 .h2 .block-name {
    font-size: 12px;
    font-style: normal;
    display: block;
    color: #FFE100;
    margin-bottom: 20px;
    font-family: pt sans caption;
}

.g-heading-v7 .h2 .block-name-b {
    font-size: 12px;
    font-style: normal;
    display: block;
    color: black;
    margin-bottom: 20px;
    font-family: pt sans caption;
}



.g-heading-v7 .h2:after {
    content: "";
    display: inline-block;
    width: 70px;
    height: 10px;
    background: #FFE100;
    position: absolute;
    left: 0;
    bottom: 0;
}

.g-heading-v7 .hb:after {
    content: "";
    display: inline-block;
    width: 70px;
    height: 10px;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
}

.text-center .g-heading-v7 .h2:after,
.g-heading-v7.text-center .h2:after {
    left: 50%;
    margin-left: -35px;
}

@media(max-width: 500px) {
    .g-heading-v7 h2,
    .g-heading-v7 .h2 {
        font-size: 30px;
        padding-bottom: 30px;
    }
    .g-heading-v7 .h2:after {
        height: 7px;
    }
}

.g-heading-v7 h3,
.g-heading-v7 .h3 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #383339;
}

.g-heading-v7 h4,
.g-heading-v7 .h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: auto;
    margin: 0 0 5px;
    color: #383339;
}

.g-heading-v7 h5,
.g-heading-v7 .h5 {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    line-height: auto;
    margin: 0 0 5px;
    color: #383339;
}


/* Global Styles END */


/* How We Work BEGIN */

.v-tab-content {
    background: #191919;
    position: relative;
    color: #d8d8d8;
    padding: 50px 0 50px;
}

.v-tab-content .subh {font-size: 19px; font-family: pt sans caption;}

.v-tab-content:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: rgba(25, 25, 25, 0);
}

.v-tab-content .container {
    z-index: 1;
    position: relative;
}

.v-tab-content h2,
.v-tab-content .h2 {
    color: #fff;
}

.v-tab-content a {
    color: #fff;
}

.v-tab-content .nav-tabs {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    border: none;
}

.v-tab-content .nav-tabs > li {
    margin-bottom: 20px;
    border-bottom: 2px dotted #ffe100;
    border-top: 2px dotted #ffe100;
}

.v-tab-content .nav-tabs a {
    border: none;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}

.v-tab-content .nav-tabs a:hover {
    background: none;
}

.v-tab-content .nav-tabs > li.active > a,
.v-tab-content .nav-tabs > li.active > a:focus,
.v-tab-content .nav-tabs > li.active > a:hover {
    background: #FFE100;
    border: none;
    color: black;
    font-family: pt sans caption;
    border: none;
    font-weight: 700;
}

.v-tab-content .nav-tabs > li.active {
        border-bottom: 2px dotted rgba(255, 225, 0, 0);
    border-top: 2px dotted rgba(255, 225, 0, 0);
    
}

.v-tab-content .nav-tabs > li.active:after {  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  
  border-right:8px solid #191919; 
content: ' ';
position: absolute;
top:0;
right: 0;}

.v-tab-content .g-display-td {
    padding-right: 15px;
}

.v-tab-content .tab-content {
    line-height: 1.4;
}

.v-tab-content h4,
.v-tab-content .h4 {
    color: #fff;
    line-height: 1.4;
    font-family: pt sans caption;
}


/* How We Work END */


/* arch style */


/* arch style */


/* arch style */


/* arch style */


/* arch style */

.no-padding {
    padding: 0;
}

.no-side-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

@media (min-width: 600px) {
    .visible-2xs {
        display: none;
    }
}

@media (max-width: 600px) {
    .hidden-2xs {
        display: none;
    }
    .col-2xs-12 {
        width: 100%;
    }
}

@media (min-width: 500px) {
    .visible-3xs {
        display: none;
    }
}

@media (max-width: 500px) {
    .hidden-3xs {
        display: none;
    }
}

.g-color-default {
    color: #c94645;
}

.g-bg-default {
    background: #c94645;
}

.g-color-white {
    color: #737373 !important;
}

.g-color-white-darker {
    color: rgba(255, 255, 255, .5) !important;
}

.g-color-black-lighter {
    color: rgba(0, 0, 0, .5) !important;
}

.g-dp-table {
    display: table;
}

.g-dp-table-cell {
    display: table-cell;
}

.g-va-top {
    vertical-align: top;
}

.g-va-middle {
    vertical-align: middle;
}

.g-va-bottom {
    vertical-align: bottom;
}

.g-padding-5 {
    padding: 5px;
}

.g-padding-10 {
    padding: 10px;
}

.g-padding-15 {
    padding: 15px;
}

.g-padding-20 {
    padding: 20px;
}

.g-padding-25 {
    padding: 25px;
}

.g-padding-30 {
    padding: 30px;
}

.g-padding-35 {
    padding: 35px;
}

.g-padding-40 {
    padding: 40px;
}

.g-padding-45 {
    padding: 45px;
}

.g-padding-50 {
    padding: 50px;
}

.g-pt-10 {
    padding-top: 10px;
}

.g-pt-20 {
    padding-top: 20px;
}

.g-pt-30 {
    padding-top: 30px;
}

.g-pt-40 {
    padding-top: 40px;
}

.g-pt-50 {
    padding-top: 50px;
}

.g-pt-60 {
    padding-top: 60px;
}

.g-pt-70 {
    padding-top: 70px;
}

.g-pt-80 {
    padding-top: 80px;
}

.g-pt-85 {
    padding-top: 80px;
}

.g-pt-90 {
    padding-top: 90px;
}

.g-pt-100 {
    padding-top: 100px;
}

.g-pt-110 {
    padding-top: 110px;
}

.g-pt-120 {
    padding-top: 120px;
}

.g-pt-130 {
    padding-top: 130px;
}

.g-pt-140 {
    padding-top: 140px;
}

.g-pt-150 {
    padding-top: 150px;
}

.g-pt-160 {
    padding-top: 160px;
}

.g-pt-170 {
    padding-top: 170px;
}

.g-pb-10 {
    padding-bottom: 10px;
}

.g-pb-20 {
    padding-bottom: 20px;
}

.g-pb-30 {
    padding-bottom: 30px;
}

.g-pb-40 {
    padding-bottom: 40px;
}

.g-pb-50 {
    padding-bottom: 50px;
}

.g-pb-60 {
    padding-bottom: 60px;
}

.g-pb-70 {
    padding-bottom: 70px;
}

.g-pb-75 {
    padding-bottom: 75px;
}

.g-pb-80 {
    padding-bottom: 80px;
}

.g-pb-90 {
    padding-bottom: 90px;
}

.g-pb-100 {
    padding-bottom: 100px;
}

.g-pl-10 {
    padding-left: 10px;
}

.g-pl-20 {
    padding-left: 20px;
}

.g-pl-30 {
    padding-left: 30px;
}

.g-pl-40 {
    padding-left: 40px;
}

.g-pl-50 {
    padding-left: 50px;
}

.g-pl-60 {
    padding-left: 60px;
}

.g-pl-70 {
    padding-left: 70px;
}

.g-pl-80 {
    padding-left: 80px;
}

.g-pl-90 {
    padding-left: 90px;
}

.g-pl-100 {
    padding-left: 100px;
}

.g-pr-10 {
    padding-right: 10px;
}

.g-pr-20 {
    padding-right: 20px;
}

.g-pr-30 {
    padding-right: 30px;
}

.g-pr-40 {
    padding-right: 40px;
}

.g-pr-50 {
    padding-right: 50px;
}

.g-pr-60 {
    padding-right: 60px;
}

.g-pr-70 {
    padding-right: 70px;
}

.g-pr-80 {
    padding-right: 80px;
}

.g-pr-90 {
    padding-right: 90px;
}

.g-pr-100 {
    padding-right: 100px;
}

.g-mt-0 {
    margin-top: 0;
}

.g-mt-10 {
    margin-top: 10px;
}

.g-mt-20 {
    margin-top: 20px;
}

.g-mt-30 {
    margin-top: 30px;
}

.g-mt-40 {
    margin-top: 40px;
}

.g-mt-50 {
    margin-top: 50px;
}

.g-mt-60 {
    margin-top: 60px;
}

.g-mt-70 {
    margin-top: 70px;
}

.g-mt-80 {
    margin-top: 80px;
}

.g-mt-90 {
    margin-top: 90px;
}

.g-mt-100 {
    margin-top: 100px;
}

.g-mb-10 {
    margin-bottom: 10px;
}

.g-mb-15 {
    margin-bottom: 15px;
}

.g-mb-20 {
    margin-bottom: 20px;
}

.g-mb-25 {
    margin-bottom: 25px;
}

.g-mb-30 {
    margin-bottom: 30px;
}

.g-mb-35 {
    margin-bottom: 35px;
}

.g-mb-40 {
    margin-bottom: 40px;
}

.g-mb-45 {
    margin-bottom: 45px;
}

.g-mb-50 {
    margin-bottom: 50px;
}

.g-mb-55 {
    margin-bottom: 55px;
}

.g-mb-60 {
    margin-bottom: 60px;
}

.g-mb-65 {
    margin-bottom: 65px;
}

.g-mb-70 {
    margin-bottom: 70px;
}

.g-mb-75 {
    margin-bottom: 75px;
}

.g-mb-80 {
    margin-bottom: 80px;
}

.g-mb-85 {
    margin-bottom: 85px;
}

.g-mb-90 {
    margin-bottom: 90px;
}

.g-mb-95 {
    margin-bottom: 95px;
}

.g-mb-100 {
    margin-bottom: 100px;
}

.g-ml-10 {
    margin-left: 10px;
}

.g-ml-20 {
    margin-left: 20px;
}

.g-ml-30 {
    margin-left: 30px;
}

.g-ml-40 {
    margin-left: 40px;
}

.g-ml-50 {
    margin-left: 50px;
}

.g-ml-60 {
    margin-left: 60px;
}

.g-ml-70 {
    margin-left: 70px;
}

.g-ml-80 {
    margin-left: 80px;
}

.g-ml-90 {
    margin-left: 90px;
}

.g-ml-100 {
    margin-left: 100px;
}

.g-mr-10 {
    margin-right: 10px;
}

.g-mr-20 {
    margin-right: 20px;
}

.g-mr-30 {
    margin-right: 30px;
}

.g-mr-40 {
    margin-right: 40px;
}

.g-mr-50 {
    margin-right: 50px;
}

.g-mr-60 {
    margin-right: 60px;
}

.g-mr-70 {
    margin-right: 70px;
}

.g-mr-80 {
    margin-right: 80px;
}

.g-mr-90 {
    margin-right: 90px;
}

.g-mr-100 {
    margin-right: 100px;
}

@media(max-width: 992px) {
    .g-sm-mb-20 {
        margin-bottom: 20px;
    }
    .g-sm-mb-30 {
        margin-bottom: 30px;
    }
}

.awards-section .content-md {
    padding-top: 80px;
    padding-bottom: 68px;
}


/*--------------------------------------------------
    [6. Projects Section]
----------------------------------------------------*/


/*Popup windows design*/

.popup-title,
.cbp-popup-lightbox-title {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 20px;
}

.popup-title h3 em,
.cbp-popup-lightbox-title h3 em {
    font: 300 11px pt sans caption, sans-serif;
    color: #a1a1b2;
    letter-spacing: 5px;
    display: block;
    margin: 5px 0 10px;
}

.popup-title h3,
.cbp-popup-lightbox-title h3 {
    font: 500 14px futura-pt, sans-serif;
    color: #2d2d37;
    letter-spacing: 2px;
}


/*Cube-portfolio lightbox design

.cbp-item {
    position: relative;
    height: auto;
    transition: all 0.4s ease-in-out;
}

.cbp-item:hover .popup-title,
.cbp-popup-lightbox-title {
    background: #383838;
    transition: all 0.4s ease-in-out;
}

.cbp-item:hover .popup-title h3 em,
.cbp-popup-lightbox-title h3 em {
    color: #FFE100;
}

.cbp-item:hover .popup-title h3,
.cbp-popup-lightbox-title h3 {
    color: #fff;
}

.cbp-popup-lightbox {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0% 0%;
}

.cbp-popup-lightbox-bottom {
    margin: 0;
}

.cbp-popup-lightbox-figure {
    max-width: 900px;
    max-height: 600px;
}

.cbp-popup-lightbox .cbp-popup-prev,
.cbp-popup-lightbox .cbp-popup-next {
    background: #272730;
    border-radius: 50%;
    color: #fff;
    border: none;
    width: 44px;
    height: 44px;
    margin: auto;
}


/*Lightbox popup window controls*/

.cbp-popup-lightbox .cbp-popup-next:after {
    position: absolute;
    top: 13px;
    left: 16px;
    font-family: "Glyphicons Halflings";
    content: "\e080";
}

.cbp-popup-lightbox .cbp-popup-prev:after {
    position: absolute;
    top: 13px;
    left: 16px;
    font-family: "Glyphicons Halflings";
    content: "\e079";
}

.cbp-popup-lightbox .cbp-popup-prev:hover,
.cbp-popup-lightbox .cbp-popup-next:hover {
    background: #c94645;
}

.cbp-popup-lightbox .cbp-popup-close {
    background: #c94645;
    color: #fff;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
}

.cbp-popup-lightbox .cbp-popup-close:after {
    position: absolute;
    top: 17px;
    left: 20px;
    font-family: FontAwesome;
    content: "\f00d";
    font-size: 16px;
}

.cbp-popup-lightbox .cbp-popup-close:hover {
    background: #d55b5a;
}


/*--------------------------------------------------
    [7. Team Section]
----------------------------------------------------*/


/*Second owl carousel design*/

.team-section .owl-carousel-v4 .item {
    text-align: center;
}

.team-section .owl-carousel-v4 .item img {
    margin: 0 auto 35px;
    display: block;
    max-width: 370px;
    max-height: 370px;
}

.team-section .owl-carousel-v4 .owl-small {
    font-size: 11px;
    text-transform: uppercase;
    color: #9797a2;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.team-section .owl-carousel-v4 .owl-span {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.team-section .owl-carousel-v4 .owl-list {
    padding: 15px 0 0;
    min-height: 50px;
}

.team-section .owl-carousel-v4 .owl-list li > a {
    font-size: 15px;
    color: #9797a2;
    padding: 5px 10px;
    background: #272730;
    transition: all .4s ease;
}

.team-section .owl-carousel-v4 .owl-list li > a.fb {
    padding: 5px 12px;
}

.team-section .owl-carousel-v4 .owl-list li > a:hover {
    color: #fff;
    background: #c94645;
}


/*Owel-carousel controls*/

.team-section .owl-theme .owl-controls .owl-buttons div {
    padding: 13px 17px;
    color: #fff;
    background: #272730;
    border-radius: 50%;
}

.team-section .owl-theme .owl-controls .owl-buttons div:hover,
.team-section .owl-theme .owl-controls .owl-buttons div:focus {
    background: #c94645;
}

.team-section .owl-theme .owl-buttons i {
    margin-top: 2px;
}

.team-section .owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}

.team-section .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -15px;
    top: 34%;
}

.team-section .owl-theme .owl-controls .owl-buttons .owl-next {
    right: -15px;
    top: 34%;
}

@media (max-width: 1200px) {
    .team-section .owl-carousel-v4 .owl-slider-v4.team-section .item img {
        margin: 0 auto 20px;
        max-width: 270px;
        max-height: 270px;
    }
}

@media (max-width: 992px) {
    .team-section .owl-theme .owl-controls .owl-buttons .owl-prev {
        top: 30%;
        left: -20px;
    }
    .team-section .owl-theme .owl-controls .owl-buttons .owl-next {
        top: 30%;
        right: -20px;
    }
}


/*--------------------------------------------------
    [9. Awards Section]
----------------------------------------------------*/

.awards-section .content-md {
    padding-top: 80px;
    padding-bottom: 68px;
}


/* Awards section design */

.awards-desc {
    padding: 50px 20px 10px;
    text-align: center;
    text-transform: uppercase;
    ;
}

.awards-desc img {
    margin: 0 auto 35px;
    max-width: 202px;
    max-height: 350px;
    display: block;
}

.awards-desc em {
    font: 300 11px "Roboto", Arial, sans-serif;
    font-style: normal;
    color: #9797a2;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 10px;
}

.awards-desc h3 {
    font: 500 18px "Roboto", Arial, sans-serif;
    color: #000;
    margin: 0 0 25px;
    letter-spacing: 2px;
}

.awards-desc a {
    font-size: 11px;
    color: #c94645;
    font-weight: bold;
}


/* Clients block */

.clients-list {
    overflow: hidden;
    margin-bottom: 0;
}

.clients li.client-cell {
    padding: 60px 10px;
    float: left;
    width: 25%;
    margin: 0;
    background: transparent;
    border: 1px solid #444444;
}

.client-cell img {
    margin: 0 auto;
    opacity: .5;
}

.client-cell a:hover img {
    opacity: 1;
}


/*Setting 1px border to the cells*/

.clients li.client-cell.first-cell,
.clients li.client-cell.fourth-cell {
    border: 1px solid transparent;
}

.clients li.client-cell.fifth-cell,
.clients li.client-cell.last-cell {
    border: 1px solid transparent;
    border-top: 1px solid #444444;
}

.clients li.client-cell.second-cell,
.clients li.client-cell.third-cell,
.clients li.client-cell.sixth-cell,
.clients li.client-cell.seventh-cell {
    border-bottom: 1px solid transparent;
}

.clients li.client-cell.second-cell,
.clients li.client-cell.sixth-cell {
    border-right: 1px solid transparent;
}

.clients li.client-cell.second-cell,
.clients li.client-cell.third-cell {
    border-top: 1px solid transparent;
}

@media (max-width:992px) {
    .award-div {
        margin-bottom: 50px;
    }
}

@media (max-width:668px) {
    .clients li.client-cell {
        width: 50%;
    }
    .clients li.client-cell.first-cell {
        border: 1px solid #444444;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
    }
    .clients li.client-cell.second-cell {
        border: 1px solid #444444;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }
    .clients li.client-cell.third-cell,
    .clients li.client-cell.seventh-cell {
        border-left: 1px solid transparent;
    }
    .clients li.client-cell.fifth-cell {
        border-right: 1px solid #444444;
    }
    .clients li.client-cell.sixth-cell {
        border-left: 1px solid transparent;
    }
}

li .img-c {max-height: 72px !important;}

@media (min-width:992px) {
    .second-cell .img-c {max-height: 120px !important;}
    .second-cell {padding: 36px 10px !important}
    .third-cell .img-c {max-height: 120px !important;}
    .third-cell {padding: 36px 10px !important}
    .fourth-cell .img-c {max-height: 120px !important;}
    .fourth-cell {padding: 36px 10px !important}
    .first-cell .img-c {max-height: 120px !important;}
    .first-cell {padding: 36px 10px !important}
    .fifth-cell .img-c {max-height: 120px !important;}
    .fifth-cell {padding: 36px 10px !important}
    .sixth-cell .img-c {max-height: 120px !important;}
    .sixth-cell {padding: 36px 10px !important}
    .last-cell .img-c {max-height: 120px !important;}
    .last-cell {padding: 36px 10px !important}
    .seventh-cell .img-c {max-height: 60px !important;}
    .seventh-cell {padding: 66px 10px !important}
    .seventh-cell .img-hover {height: 115px !important; top:-28px !important;}
}

@media (max-width:992px) {
    .clients li.client-cell {padding: 30px 10px !important;}
     .seventh-cell .img-c {max-height: 42px !important;}
    .clients li.client-cell.seventh-cell {padding: 45px 10px !important}
}

/*Fifth owl carousel*/

.awards-section .owl-carousel-v4 .owl-slider-v4-testo .item {
    text-align: center;
    margin: 0;
    padding: 0;
}

.awards-section .owl-carousel-v4 .owl-slider-v4-testo .item img {
    margin: 0 auto 20px;
    display: block;
    max-width: 80px;
    min-height: 80px;
    border-radius: 50%;
}

.awards-section .owl-carousel-v4 .owl-slider-v4-testo p {
    margin: 0 auto 25px;
    color: #9797a2;
    text-transform: none;
}

.awards-section .owl-carousel-v4 .owl-slider-v4-testo h3 {
    text-transform: uppercase;
    color: #fff;
    font: 500 16px "Roboto", Arial, sans-serif;
    margin: 0 0 25px;
}

.awards-section .owl-carousel-v4 .owl-slider-v4-testo h3 em {
    font-size: 9px;
    font-weight: 300;
    font-style: normal;
    display: block;
    padding-top: 10px;
}


/*General use classes*/

.bg-color-com {
    background: #191919;
}


/*busss*/


/*busss*/


/*busss*/


/*busss*/


/*busss*/


/*busss*/

.g-bg-dark-blue1,
.g-bg-dark-blue2 {
    color: #ccc;
}


/* Background Colors */

.g-bg-dark-blue1 {
    background: #14112c;
}

.g-bg-dark-blue2 {
    background: #1d1a37;
}

.g-text-height-md {
    line-height: 24px;
}


/* --------------------------------------------------
	[#. Cotnac Blocks]
----------------------------------------------------  */

.contact-blocks-v1 {
    border-right: solid 1px rgba(57, 73, 160, .5);
}

.contact-blocks-v1:last-child {
    border: none;
}

.contact-blocks-v1 h4 {
    color: #191919;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
}

@media (max-width: 767px) {
    .contact-blocks-v1 {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-right: none;
        border-bottom: solid 1px rgba(57, 73, 160, .5);
    }
    .contact-blocks-v1:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.contact-blocks-v1__icon {
    font-size: 50px;
    margin-bottom: 18px;
}

.g-color-primary,
.g-color-primary:hover {
    color: #4A4A4A;
}


/* --------------------------------------------------
	[#. Social Block v1]
----------------------------------------------------  */

.social-block-v1__list-btn {
    color: #525252;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFD324;
    transition: all .2s ease;
     margin-top: 20px;
}

.social-block-v1__list:nth-child(2n+1) .social-block-v1__list-btn {
    background-color: #FFC800;
    margin-top: 20px;
}

.social-block-v1__list-btn:hover,
.social-block-v1__list:nth-child(2n+1) .social-block-v1__list-btn:hover {
    color: #fff;
    background: #F0B800;
    margin-top: 0;
    padding: 24px 0;
}


/* --------------------------------------------------
	[#. Subscribe Block v1]
----------------------------------------------------  */

.subscribe-block-v1 {
    border: none;
}

.subscribe-block-v1__form {
    border-right: none;
    border-color: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

.subscribe-block-v1__addon,
.subscribe-block-v1__form:focus {
    box-shadow: none;
    border-color: #eee;
}

.bg-y {
    background: #FFE100;
}

.blt { color: #1b1b1b; font-size: 17px;}


/* --------------------------------------------------
	[skydr custom]
----------------------------------------------------  */


a.conta {display: block; padding: 10px 0;}
a.conta:hover {background: #212121; text-decoration: none; transition: all 0.5s ease-in-out;}
.conta:hover .hconta {color: #FFE100;}
.conta:hover .iconta {color: #FFE100;}
.conta:hover .sconta {color: #FFE100 !important;}

body {height: 100%}

.ptab {color: #ffe100;font-size: 15px;}

.ynum {padding-right: 0; width: 50px;}

/* Contact form and its components */
.contact .sky-form .form-control {
	background: #f5f5f5;
	border-radius: 2px;
	max-width:870px;
	border: none;
}

.contact .sky-form input.form-control {
	height: 40px;
}

.contact .sky-form .form-control:focus {
	box-shadow: none;
}

.contact .sky-form .btn-u {
	width: 100%;
	padding: 20px;
	max-height: 55px;
}

/* Contact list and its components */
.contact .contact-list ul {
	padding-top: 3px;
}
.contact .contact-list ul li {
	margin-bottom: 5px;
}
.contact .contact-list ul li .icon {
	color: #9dba04;
}

.contact .contact-list ul li.first-item {
	font-size: 13px;
	text-transform: uppercase;
	color: #9797a2;
	margin-bottom: 10px;
}

.contact .contact-list ul li.second-item {
	color: #000;
	font-weight: bold;
}

.btn-u-soc {background: #FFE100; color: black;}
.btn-u-soc:hover {background: black; color: white;}

.acc-v1 .panel-heading a.triang {width: 0;
height: 0;
border-style: solid;
    border-width: 45px 45px 0 45px;
    border-color: #FFE100 transparent transparent transparent;
    -webkit-transform:rotate(360deg);
    margin: auto;
    background: none;
    padding: 0;
    position: absolute;
    left:0;
    right: 0;
    z-index: 1;
}